<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Venue Booking Bot</title>
    </head>
    <body class="bk_main">
        <h1 class="caveat-700">Venue Booking Bot</h1>
        <form
            id="booking-form"
            class="booking_box"
            action="/submit"
            method="post"
        >
            <label for="account">Account</label>
            <input type="text" id="account" name="account" value="{{ account }}" required/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" value="{{ password }}"  required/>

            <label for="timeSlot">Time Slot</label>
            <select id="timeSlot" name="timeSlot">
                {% for slot in time_slots %}
                <option value="{{ slot.value }}" {% if time_slot == slot.value %}selected{% endif %}>{{ slot.label }}</option>
                {% endfor %}
            </select>

            <label for="region">Region</label>
            <select id="region" name="region">
                {% for region in regions %}
                <option value="{{ region.site }}" {% if region.site == region %}selected{% endif %}>{{ region.name }}</option>
                {% endfor %}
            </select>
            
            <p id="output" class="warn">Recommend executing 5 minutes before the website refreshes!</p>
            <button type="submit" id="submit" class="caveat-700">Go!</button>
        </form>
    </body>
</html>
